<ion-header>
  <ion-toolbar>
    <ion-title>
      Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content padding>
  <ion-item>
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>
  <div *ngFor="let numGroup of numberGroups">
    <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button>
  </div>
</ion-content>-->

<!--
  Como a ideia de layout da calculadora é com que todo o contéudo fique localizado no rodapé, 
  e sem scroll, foi utilizado um div customizado para atender estas necessidades e ignorado o
  componente padrão acima "ion-content"
-->
<div style="position: absolute; bottom: 0px; width: 100%">
  <ion-item>
    <ion-label class="value">
      {{value}}
    </ion-label>
  </ion-item>
  <div *ngFor="let numGroup of numberGroups">
    <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)" class="calc-button">{{num}}</ion-button>
  </div>
</div>
